body {
  background-color: orange;
} 

h1 {
  color: rgb(5, 5, 219);
  text-align: center;
}


ul {
  color: rgb(7, 7, 223);
  text-decoration: none;
  text-align: center;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

a {
  color: blue;
  text-decoration: none;
  text-align: center;
}

li {
  color: rgb(1, 15, 24);
  text-decoration: none;
  text-align: center;
  list-style-type: none;
  font-style: oblique;
}


.first_text {
  color: rgb(0, 0, 6);
  text-decoration: none;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif Gothic, ;
  font-style:italic;
}

* {
  box-sizing: border-box;
  text-align: center;
}

div p {
  color: rgb(7, 46, 240);
  font-weight: bold;
}

.box:has(.delete-btn) {
  background-color: lightcoral;
}